body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5f5;
    width: 100%;

}

.container {
    margin: 0 auto;
    width: 1400px;
    background-color: #ffffff;
    padding: 125px;
}

.interior {
    margin-top: 30px;
    padding-top: 379px;
    padding-left: 40px;
    height: 500px;
    width: 1150px;
    background-image: url('resources/img_1.png');
}

.image-text {
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #ffffff;
}

h1, h2, h3 {
    letter-spacing: 0.03em; 
}

h1 {
    color: rgb(18, 18, 18);
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.description {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
}

a.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.projects {
    margin-top: 30px;
}

.projects .project {
    margin-top: 90px;
}

.projects :first-child {
    margin-top: 0;
}

.project_image {
    margin-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
}

.project_link {
color: #AD1818;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.03em;
text-decoration: none;
}
